node_modules/
.pnpm-store/

dist/
*.tsbuildinfo

labs/

coverage/

logs/
*.log
npm-debug.log*
pnpm-debug.log*

.env
.env.local
.env.*.local

.DS_Store
.vscode/*
.zed/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo